In [14]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from word2number import w2n

In [21]:
df = pd.read_csv("data/hiring.csv")

In [22]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [23]:
df.loc[df.experience.isna(), "experience"] = "zero"

In [25]:
df.experience = df.experience.apply(w2n.word_to_num); df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [30]:
import math
test_average = math.floor(df["test_score(out of 10)"].mean())
df["test_score(out of 10)"] = df["test_score(out of 10)"].fillna(test_average)

In [35]:
X = df.drop("salary($)", axis=1)

In [37]:
y = df["salary($)"]

In [38]:
reg_model = LinearRegression()

In [39]:
reg_model.fit(X, y)

LinearRegression()

In [40]:
reg_model.coef_

array([2922.26901502, 2221.30909959, 2147.48256637])

In [41]:
reg_model.intercept_

14992.65144669314

In [43]:
salary_to_predict = pd.DataFrame({"experience": [2, 12], "test_score(out of 10)": [9, 10], "interview_score(out of 10)": [6, 10]})

In [44]:
salary_to_predict

   experience  test_score(out of 10)  interview_score(out of 10)
0           2                      9                           6
1          12                     10                          10

In [45]:
reg_model.predict(salary_to_predict)

array([53713.86677124, 93747.79628651])