In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMschafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [6]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [13]:
df.columns = ["first_name", "last_name", "email"]

In [14]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMschafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [15]:
df.columns = [x.lower() for x in df.columns]; df

  first_name last_name                    email
0      Corey   Schafer  CoreyMschafer@gmail.com
1       Jane       Doe        JaneDoe@gmail.com
2       John       Doe        JohnDoe@gmail.com

In [16]:
df.rename(columns={"first_name": "first", "last_name": "last"}, inplace=True)

In [17]:
df

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [18]:
df.loc[2, "last"] = "Smith"

In [19]:
df

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John    Smith        JohnDoe@gmail.com

In [20]:
df.at[2, "last"] = "Doe"

In [21]:
df

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [26]:
filt = df["email"] == "JohnDoe@gmail.com"
df[filt]["last"] = "Smith"

/var/folders/r2/9ll477s10d7gz6rx5kpl7c500000gn/T/ipykernel_14883/3206338516.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]["last"] = "Smith"

In [27]:
filt = df["email"] == "JohnDoe@gmail.com"
df.loc[filt, "last"] = "Smith"

In [29]:
df["email"] = df["email"].str.lower()

In [30]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@gmail.com
2   John    Smith        johndoe@gmail.com

In [31]:
df["email"].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [32]:
def update_email(email):
    return email.upper()

In [33]:
df["email"].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@GMAIL.COM
2          JOHNDOE@GMAIL.COM
Name: email, dtype: object

In [34]:
df["email"] = df["email"].apply(update_email); df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@GMAIL.COM
2   John    Smith        JOHNDOE@GMAIL.COM

In [35]:
df["email"].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [37]:
df.apply(len, axis="columns")

0    3
1    3
2    3
dtype: int64

In [38]:
len(df["email"])

3

In [39]:
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    COREYMSCHAFER@GMAIL.COM
dtype: object

In [40]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    COREYMSCHAFER@GMAIL.COM
dtype: object

In [42]:
df.map(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [43]:
df.map(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@gmail.com
2   john    smith        johndoe@gmail.com

In [ ]:
df["firs"]